.page {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #434455;
}
.list,
ul,
ol {
  list-style: none;
}
.linc,
a {
  text-decoration: none;
}
.header {
}

.header-nav {
}

.header-logo-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #2e2f42;
}
.header-ul {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.blok:hover,
:focus {
  color: #404bbf;
}
.blok {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
}
.header:hover,
:focus {
  color: #404bbf;
}

.header-ul {
}
.header-s:hover,
:focus {
  color: #404bbf;
}
.header-p:hover,
:focus {
  color: #404bbf;
}
.header-c:hover,
:focus {
  color: #404bbf;
}
.header-nav-por {
}
.header-nav-con {
}
.linc-com {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.linc-com:hover,
:focus {
  color: #404bbf;
}

.linc-tel:hover,
:focus {
  color: #404bbf;
}
.linc-tel {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.sec-es {
}

.sec-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 1, 07;
  color: #ffffff;
}
.sec-title {
}

.sec-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
.sec-button {
  width: 169px;
  height: 56px;
  left: 20px;
  top: 20px;
  background: #4d5ae5;
}
.sec-button:hover,
:focus {
  width: 169px;
  height: 56px;
  left: 20px;
  top: 88px;
  background: #404bbf;
}
.sec-button {
  cursor: pointer;
}
.main {
}
.cpdt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.qbrd {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.sec-es-wd {
}
.sec-es-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}

.sec-wd-img {
}
.sec-ot {
}
.sec-ot-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
}

.sec-ot-img {
}

.mfmd {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.mfmd-txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.footer {
}

.footer-logo {
}

.footer-end {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}
.footer-logo{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #2e2f42;
}
.footer{
  Width:1440px
 
}
.footer{
  color:#2E2F42
}

