.page
 {
font-family: 'Roboto', sans-serif;
}
 .list,
 ul,
 ol {
   list-style: none;
 }
 .link,
 a {
   text-decoration: none;
 }
 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: #434455;
}
    .header {}
  
    .header-nav:hover 
    {
      color: #FFFFFF;
    }
    .header-nav:focus 
    {
      color: #FFFFFF;
    }
  
    .header-logo-link {}
    .header-ul
    {
      font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #2E2F42;
    }
    .header-nav-st{}
    .header-nav-por{}
    .header-nav-con {}
    .linc {}
  
    .linc-com 
    {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: #434455;
    } 
  
    .linc-tel 
      {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: #434455;
      }
  
    .main {}
  
    .sec-es {}
  
    .sec-title
    {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 56px;
      line-height: 1,07;
      color: #FFFFFF;
    }
    .sec-title
     {
      
    }
  
    .sec-button {}
  
    .sec-es-wd {}
  
    .sec-es-title {}
  
    .sec-wd-img {}
  
    .sec-ot {}
  
    .sec-ot-text {}
  
    .sec-ot-img {}
  
    .sec3-txt {}
  
    .sec3-2 {}
  
    .sex3-txt {}
  
    .sex3-4 {}
  
    .sex3-img-dw {}
  
    .footer {}
  
    .Footer-logo {}
  
 .footer-end {}
    
  

