:root {
  --accent-color: #2e2f42;
  --logo-color: #4d5ae5;
  --logo_hover-color: #404bbf;
  --txt-color: #fff;
  --all_txt-color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
span {
  color: #2e2f42;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/**--Header section--*/

.header {
}
.header-nav {
}
.header-logo-link {
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-link:hover {
  color: #404bbf;
}

.header-logo-link:focus {
  color: #404bbf;
}

.logo-span {
  color: var(--accent-color);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-span:hover {
  color: #404bbf;
}
.logo-span:hover {
  color: #404bbf;
}

.lict {
}
.header-spc {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-spc:hover {
  color: #404bbf;
}
.header-spc:focus {
  color: #404bbf;
}
.adres {
  font-style: normal;
}
.lict {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.linc-com-tel {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 400;
}
.linc-com-tel:hover {
  color: #404bbf;
}
.linc-com-tel:focus {
  color: #404bbf;
}
.main {
}
.sec-es {
  background: #2e2f42;
}

/**section1*/

.sec-title {
  color: var(--txt-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.sec-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.sec-button:hover {
  color: #ffffff;
  background: #404bbf;
}
.sec-button:focus {
  color: #ffffff;
  background: #404bbf;
}

/**section2*/

.cpdt {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.qbrd {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**section3*/

.sec-es-wd {
}
.sec-es-title {
  color: var(--accent-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.sec-wd-img {
}
.list {
}

/**section4*/

.sec-ot {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: #f4f4fd;
}
.sec-ot-text {
  color: var(--accent-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.list {
}
.all {
  background-color: #ffffff;
}
.com {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.all-txt {
  color: var(--all-txt-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.mfmd {
}
.mfmd-txt {
  font-size: 16px;
  line-height: 1.5;
}
.sex3-img-dw {
}
/**footer section*/

.footer {
  background: #2e2f42;
}
.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo:hover {
  color: #404bbf;
}

.footer-logo:focus {
  color: #404bbf;
}
.footer-span {
  color: #f4f4fd;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-span:hover {
  color: #404bbf;
}
.footer-span:hover {
  color: #404bbf;
}
.footer-end {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**--portfolio--*/

/**--Header section--*/

/**btn*/

.vic-hit {
  margin: -1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
}
.btn-all {
  color: #4d5ae5;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.btn-all {
  cursor: pointer;
}
.btn-all {
  background: #f4f4fd;
}
.btn-all:hover {
  color: #fff;
  background: #404bbf;
}
.btn-all:focus {
  color: #fff;
  background: #404bbf;
}
.com {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.all-txt {
  color: var(--all_txt-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.link {
}
.com {
}
.tec {
}
