body {
    font-family: "Roboto" sans-serif, ;
    color: #434455 ;
  }
  .link {
    text-decoration: none;
  }
  
  .list {
    list-style-type: none;
  }

  /**--Header section--*/

  .header-logo-link {
    color: #4d5ae5;
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }
  .header-logo-link:hover {
    color: #404bbf;
  }
  
  .header-logo-link:focus {
    color: #404bbf;
  }
  
  .blok{
    color: #2E2F42 ;
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .blok:hover {
    color: #404bbf;
  }
  .blok:hover {
    color: #404bbf;
  }

           /**btn*/

           .vic-hit {
            margin: -1px;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
          }
          .btn {
          }
          .list {
          }
          .btn-all {
            color: #4D5AE5;
            font-size: 16px;
            font-family: Roboto;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.64px;
          }
          .btn-all{
            cursor: pointer;
          }
          .btn-all{
            background: #F4F4FD}
          .btn-all:hover{
            color: #FFF;
            background:#404BBF;
          }
          .btn-all:focus{
            color: #FFF;
            background:#404BBF;
          }
          .link {
          }
          .com {
          }
          .tec {
          }         